body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    margin: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#headerFormulario{
    background-color: rgb(75, 0, 75);
    color: white;
    align-items: center;
    justify-content: center;
    display: flex;
}

.displayFlex{
    display: flex;
}

.fundoFormulario{
    background-color: rgb(164, 164, 164);
    width: 600px;
    border-style: solid;
    border-width: 5px;
}

#formularioAnimal{
    background-color: aquamarine;
    width: 600px;
    border-style: solid;
    border-width: 5px;
}